/*******************************
		  CUSTOM CSS
*******************************/

body {
    background-color: #eaedf1;
}
nav,i,ol,ul,li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
small {
    font-weight: normal;
    font-size: 70%;
}
.ui.menu .item img.logo {
    margin-right: 1.5em;
}
.ui.text.container {
    max-width: 1000px !important;
}
.main.container {
    position: relative;
    margin-top: -90px;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}
.wireframe {
    margin-top: 2em;
}
.ui.footer.segment {
    margin: 3em 0em 0em;
    padding: 4em 0em;
}
.ui.copyright.segment {
    padding: 1em 0em;
}
.hidden.menu {
    display: none;
}

/* Masthead CSS */

.masthead.segment {
    min-height: 400px;
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.subhead h2,
.masthead h2 {
    color: #ffffff;
    font-size: 32px;
    line-height: 34px;
    margin: .5em 0;
    text-shadow: 2px 2px #52a4cf;
}
.subhead h2 span,
.masthead h2 span {
    color: #ffffff;
    font-weight: 800;
    font-style: italic;
    padding-bottom: 0;
    border-bottom: solid 3px #ffffff;
}
.masthead-text {
    margin-top: 40px;
}
.masthead-shadow {
    -webkit-box-shadow: 0px 5px 0px 0px rgba(178, 231, 250, 1) !important;
    -moz-box-shadow: 0px 5px 0px 0px rgba(178, 231, 250, 1) !important;
    box-shadow: 0px 5px 0px 0px rgba(178, 231, 250, 1) !important;
}
.header-area .ui.button {
    margin-left: 0.5em !important;
}

/* Vertical Stripe */

.ui.vertical.stripe {
    padding: 8em 0em;
}
.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
    margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
    clear: both;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}
.quote.stripe.segment {
    padding: 0em;
}
.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}
.menu .toc.item {
    display: none !important;
}
.free-add {
    position: absolute;
    top: -14px;
    right: -14px;
}
.free-add img:hover {
    opacity: 0.7;
}
.footer.segment {
    padding: 5em 0em;
}
.sociables img:hover {
    opacity: 0.7;
}
@media only screen and (max-width: 700px) {
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 300px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

/* General CSS */

.ui.header-spacing {
    padding-top: 5px;
}
.ui.header-area {
    position: relative;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
    border: 0;
}
.main-wrap {
    position: relative;
}
.topbar {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 10px 0;
}
.social-icons img:hover {
    opacity: 0.7;
}
.ui.menu {
    border-radius: 0;
    margin: 0;
}
.ui.inverted.menu {
    border: 0px solid transparent;
    background: #fc69b5;
    box-shadow: none;
}
.ui.menu .item {
    padding: 0.5em 1.14285714em;
}
.ui.inverted.herohead {
    background-color: #22a7f0 !important;
    background-image: url(../../images/slider_img.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2) !important;
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2) !important;
}
.ui.inverted.subhead {
    background-color: #22a7f0 !important;
    background-image: url(../../images/slider_img.png);
    background-repeat: no-repeat;
    background-position: top center;
    -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2) !important;
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2) !important;
    min-height: 250px;
    padding: 1.5em 0;
}
.ui.inverted.sub_head {
    background-color: #1eaaf7 !important;
    background-image: url(../../images/car_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2) !important;
    box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2) !important;
    min-height: 250px;
    padding: 1.5em 0;
}
.my-account a {
    color: #00b5ad;
}
.my-account a:hover {
    text-decoration: underline;
}
.footer {
    background-color: #3498db !important;
}
.footer a {
    margin-bottom: 5px;
}
.footer a:hover {
    text-decoration: underline;
}
.copyright {
    background-color: #0074c2;
}
.faq-wrap {
    padding: 20px 0 0 0 !important;
}
.faq-wrap h4 {
    color: #5ab6dc;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content-wrap {
    padding: 20px 0 0 0 !important;
}
.content-wrap h2 {
    font-size: 18px;
    color: #444444;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 20px;
}
.search-page h3 {
    font-size: 18px;
    color: #444444;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 20px;
}
.ui.steps .step {
    padding: 1.14285714em 1.3em;
}
.insert-ad .field {
    margin-bottom: 0 !important;
    padding: 8px;
}
.ui.disabled.dropdown,
.ui.dropdown .menu>.disabled.item {
    color: #000000;
    opacity: 0.75;
    background-color: #e03997;
}
.ui.checkbox label,
.ui.checkbox+label {
    cursor: pointer;
}

/* Single Ad CSS */

.ad-content-wrap {
    background-color: #ffc801;
    padding: 30px 20px 20px;
}
.single-ad {
    padding: 20px 0 0 0 !important;
}
.single-ad h2 {
    font-size: 22px;
    color: #444444;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 20px;
}
.author_metadata {
    padding: 5px 0;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid #e4ae11;
}
.ui.inverted.pink.menu .item:before {
    background-color: transparent;
}
.ad-content {
    padding: 20px 0 0;
    font-size: 14px;
}
.ad-image {
    margin-bottom: 20px;
}
.meta-separator {
    padding: 0 5px;
    font-size: 13px;
}
.warning-text {
    font-weight: 400;
    padding: 10px;
    border-top: 1px solid #e4ae11;
    border-bottom: 1px solid #e4ae11;
}
.buttons-wrap {
    margin-bottom: 5px;
}
.sp-menu {
    background-color: #E03997;
    color: #ffffff;
    font-size: 13px;
    overflow: hidden;
    border-bottom: 1px solid #b62878;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
.sp-menu a {
    color: #ffffff;
    float: left;
    padding: 0.6em 0.8em;
    display: inline-block;
}
.sp-menu a:hover {
    background: rgba(255, 255, 255, 0.08);
    color: #ffffff;
}
.sp-menu .active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

/* New & Override Classes */

.ui.tiny.images .image,
.ui.tiny.images img,
.ui.tiny.images svg,
.ui.tiny.image {
    width: 52px;
}
.item-inline {
    display: inline-block;
}
.item-inline img {
    padding: 0 5px;
}
.flag-icons .ui {
    padding-left: 5px;
    color: rgba(255, 255, 255, 0.7);
}
.flag-icons .flag {
    padding-left: 5px;
}
.flag a {
    color: rgba(255, 255, 255, 0.7);
}
.flag-icons img.ui.image {
    display: inherit;
}
.flag-icons a:hover {
    opacity: 0.7;
    text-decoration: underline;
}
.ui.sub.header {
    font-size: 1.1em;
}
.free-ad {
    position: relative;
    margin-left: 10px;
}
.header-right {
    position: relative;
}
.header-right .mini {
    width: auto !important;
}

/* Search Form */

.search-form {
    width: 75%;
    margin: 40px 0 20px 0;
    box-shadow: 3px 4px #2185d0;
    border-radius: 5px;
}
.search-form input[type="text"] {
    text-transform: uppercase;
    font-size: 14px;
}
.search-form .ui.selection.dropdown {
    color: #a9a9a9;
    min-height: 3em;
    height: 48px;
    font-size: 13px;
    text-transform: uppercase;
    word-spacing: -1px;
}
.search-form.ui.action.input>.button {
    padding-left: 18px;
    padding-right: 18px;
}
.ui.search-form .dropdown {
    line-height: 2em;
}
.ui.search-form .dropdown.icon {
    top: 1.5em !important;
}

/* Sroll to top */

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #df558a;
    color: #eeeeee;
    width: 50px;
    height: 50px;
    line-height: 45px;
    right: 30px;
    bottom: 50px;
    padding-top: 2px;
    padding-left: 2px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #e3397a;
}
.scroll-top-wrapper.show {
    visibility: visible;
    cursor: pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}

/* Content Section */

.ad-area-large {
    position: relative;
    background-color: #f5f5f5;
    padding: 10px;
}
.ui.members {
    background-color: #ffffff;
    margin-top: 50px;
}
.ui.items .new-user {
    background-color: #ffa800;
    color: #ffffff;
    padding: 30px;
    border-radius: 3px;
    font-size: 13px;
}
.ui.items .already-user {
    background-color: #27ae60;
    padding: 30px;
    color: #ffffff;
    border-radius: 3px;
    font-size: 13px;
}
.ui.green.button {
    background-color: #2ecc71;
}
.ui.green.button:hover {
    background-color: #198f35;
}
.ui.yellow.button:hover {
    background-color: #cd9903;
}

/* Trending Ads*/

.trending-ads {
    background-color: #f2f7fb;
    padding: 50px 25px 30px 25px;
    margin-left: -25px;
    margin-right: -25px;
    margin-top: 20px;
    margin-bottom: 0;
}
.trending-ads h2 {
    color: #5ab6dc;
    font-weight: 700;
    margin-bottom: 30px;
}
.slide-item {
    height: 10rem;
    background: #4DC7A0;
    padding: 1rem;
}
.slide-item h4 {
    color: #FFF;
    font-weight: 400;
    margin-top: 0rem;
}
.trendAds_inner {
    background-color: #a333c8;
}
.trend-ads {
    padding: 5px !important;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
}
.ui.cards>.card,
.ui.card {
    border-radius: 0;
    box-shadow: none;
}
.ui.card>.content>.header:not(.ui) {
    color: #ff7700;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.ui.card .meta {
    color: #a2a2a2;
    font-size: 12px;
}
.ui.card>.content {
    padding: 10px 5px 5px;
}
.ui.card>.image>img {
    border-radius: 0;
    height: 160px;
}
.ui.floated.image {
    margin-bottom: 0;
}

/* Popular Categories*/

.popular-categories {
    padding: 40px 0;
}
.popular-categories h2 {
    color: #5ab6dc;
    font-weight: 700;
    margin-bottom: 30px;
}
.cat-item {
    position: relative;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    padding: 10px;
}
.cat-text {
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 5px;
}
.cat-item img:hover {
    opacity: 0.7;
}

/* About KoolBusiness*/

.ui .about-business {
    background-color: #0bb9ff;
    color: #ffffff;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: -25px;
    margin-right: -25px;
}
.ui.about-business .column {
    padding: 0 !important;
    padding: 0 !important;
}
.ui.about-business img.ui.image {
    margin-bottom: -10px;
}
.banner-content {
    padding: 15px;
}
.banner-content h2 {
    font-weight: 700;
}
.ui.about-business .ui.link.list a {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 20px;
}
.ui.about-business .ui.link.list a:hover {
    text-decoration: underline;
}
.ui .about-business img.ui.image {
    padding-right: 5px;
}

/* Classifieds List*/

.classifieds-list {
    padding: 40px 0 20px 0;
}
.classifieds-list h2 {
    color: #5ab6dc;
    font-weight: 700;
    margin-bottom: 30px;
}
.classifieds-list h4 {
    color: #5ab6dc;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.classifieds-list span {
    color: #ff7700;
}
.classifieds-list a {
    color: #616161 !important;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}
.classifieds-list a:hover {
    text-decoration: underline;
}
.map-inner {
    padding-top: 40px;
}

/*Post Ad*/

.ad-item {
    position: relative;
    background-color: #00b7ff;
    color: #ffffff;
    padding: 20px;
}
.ui .ads-wrapper .middle.aligned.content {
    padding: 2em 1.2em 1.2em;
}
.ui.items>.item>.image {
    background-color: rgba(255, 255, 255, 0.3)
}

/* Tabs Section */

.ui.tabular.menu {
    border-bottom: 4px solid #ebebeb;
}
.ui.attached.menu {
    border-radius: 0;
}
.ui.attached.tabular.menu {
    background-color: #5b48a2;
}
.ui.tabular.menu .item {
    color: #ffffff;
    font-weight: bold;
}
.ui.tabular.menu .item:hover {
    color: #ffffff;
    text-decoration: underline;
    font-weight: bold;
}
.ui.tabular.menu .active.item {
    background-color: #f06c64;
    color: #ffffff;
    border: 0;
    margin-bottom: 0;
    font-weight: bold;
    border-radius: 0 !important;
}

/* Preview Ad */

.preview-ad .ui.grid>.column:not(.row) {
    padding-top: 12px;
    padding-bottom: 10px;
}
.preview-ad .ui.form .field>label {
    font-size: 13px;
    font-weight: normal;
}
.lable-value {
    font-weight: bold !important;
}

/* Search Results */

.search-page h3 {
    font-size: 18px;
    color: #444444;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 20px;
}

/* Misc CSS */

.post-ads {
    background-color: #ffffff !important;
}
.post-ads .button a {
    color: #ffffff;
}
.ads-wrapper .ui.segment {
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15) !important;
    border: 1px solid rgba(34, 36, 38, 0.15) !important;
}
.ui.secondary.segment {
    background: #F3F4F5 !important;
    color: rgba(0, 0, 0, .6);
}
.line-sep {
    font-weight: normal;
}
.ui.list label {
    font-size: 15px;
}
.ui.list .field {
    margin-bottom: 10px;
}
.price-select .ui.divider {
    font-size: 100% !important;
}

/* Popular Ribbon */

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.price-select .ui.card {
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
}
.price-select .ui.card>.content {
    border-top: 0;
}
.offer-price {
    font-size: 14px;
    padding: 5px 0;
}
.mp-inner {
    color: #000000;
    font-size: 14px;
}
.mp-outer {
    color: #ff0000;
    text-decoration: line-through;
}
.discount-price {
    font-size: 17px;
    font-weight: bold;
}

/* Trending Ads Fixes */

.tredAds-inner {
    width: 100%;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
.tredAds-inner .owl-item {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 100px;
}
.tredAds-inner .owl-item {
    float: none !important;
    width: 227px !important;
    padding-right: 15px;
}
.tredAds-inner .owl-item:last-child {
    padding-right: 0;
    margin-right: 0;
}
.heading-wrap {
    overflow: hidden;
}
.tredAds-heading {
    position: relative;
    padding: 20px 10px !important;
    z-index: 2;
}
.tredAds-inner .trend-ads {
    height: 150px;
}
.tredAds-inner .trend-ads img {
    max-width: 100%;
    max-height: 100%;
}

/* -------------------------------- 
Pagination CSS - Begin Here
-------------------------------- */

nav[role="navigation"] {
    text-align: left;
}
.kb-pagination {
    width: 90%;
    max-width: 768px;
    margin: 2em auto 4em;
    text-align: center;
}
.kb-pagination li {
    /* hide numbers on small devices */
    
    display: none;
    margin: 0 .2em;
}
.kb-pagination li.button {
    /* make sure prev next buttons are visible */
    
    display: inline-block;
}
.kb-pagination a,
.kb-pagination span {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* use padding and font-size to change buttons size */
    
    padding: .6em .8em;
    font-size: 13px;
}
.kb-pagination a {
    border: 1px solid #e6e6e6;
    border-radius: 0.25em;
}
.no-touch .kb-pagination a:hover {
    background-color: #f2f2f2;
}
.kb-pagination a:active {
    /* click effect */
    
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.kb-pagination a.disabled {
    /* button disabled */
    
    color: rgba(46, 64, 87, 0.4);
    pointer-events: none;
}
.kb-pagination a.disabled::before,
.kb-pagination a.disabled::after {
    opacity: .4;
}
.kb-pagination .button:first-of-type a::before {
    content: '\00ab  ';
}
.kb-pagination .button:last-of-type a::after {
    content: ' \00bb';
}
.kb-pagination .current {
    /* selected number */
    
    background-color: #ff7a21;
    border-color: #ff7a21;
    color: #ffffff;
    pointer-events: none;
}
@media only screen and (min-width: 768px) {
    .kb-pagination li {
        display: inline-block;
    }
}
@media only screen and (min-width: 1170px) {
    .kb-pagination {
        margin: 2em auto;
    }
}
/* --------------------------------
No space - remove distance between list items
-------------------------------- */

.kb-pagination.no-space {
    width: auto;
    max-width: none;
    display: inline-block;
    border-radius: 0.25em;
    border: 1px solid #e6e6e6;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.kb-pagination.no-space:after {
    content: "";
    display: table;
    clear: both;
}
.kb-pagination.no-space li {
    margin: 0;
    float: left;
    border-right: 1px solid #e6e6e6;
}
.kb-pagination.no-space li:last-of-type {
    border-right: none;
}
.kb-pagination.no-space a,
.kb-pagination.no-space span {
    float: left;
    border-radius: 0;
    padding: .8em 1em;
    border: none;
}
.kb-pagination.no-space li:first-of-type a {
    border-radius: 0.25em 0 0 0.25em;
}
.kb-pagination.no-space li:last-of-type a {
    border-radius: 0 0.25em 0.25em 0;
}

/* --------------------------------
move buttons - move prev and next buttons to the sides
-------------------------------- */

.kb-pagination.move-buttons:after {
    content: "";
    display: table;
    clear: both;
}
.kb-pagination.move-buttons .button:first-of-type {
    float: left;
}
.kb-pagination.move-buttons .button:last-of-type {
    float: right;
}
.kb-pagination.no-space.move-buttons {
    width: 90%;
    max-width: 768px;
    display: block;
    overflow: hidden;
}
.kb-pagination.no-space.move-buttons li {
    float: none;
    border: none;
}
.kb-pagination.no-space.move-buttons a,
.kb-pagination.no-space.move-buttons span {
    float: none;
}

/* --------------------------------
custom icons - customize the small arrow inside the next and prev buttons
-------------------------------- */

.kb-pagination.custom-icons .button a {
    position: relative;
}
.kb-pagination.custom-icons .button:first-of-type a {
    padding-left: 2.4em;
}
.kb-pagination.custom-icons .button:last-of-type a {
    padding-right: 2.4em;
}
.kb-pagination.custom-icons .button:first-of-type a::before,
.kb-pagination.custom-icons .button:last-of-type a::after {
    content: '';
    position: absolute;
    display: inline-block;
    /* set size for custom icons */
    
    width: 16px;
    height: 16px;
    top: 50%;
    /* set margin-top = icon height/2 */
    
    margin-top: -8px;
    background: transparent url("../../images/kb-icon-arrow-1.svg") no-repeat center center;
}
.kb-pagination.custom-icons .button:first-of-type a::before {
    left: .8em;
}
.kb-pagination.custom-icons .button:last-of-type a::after {
    right: .8em;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
/* --------------------------------
custom buttons - replace prev and next buttons text with a custom icon
-------------------------------- */

.kb-pagination.custom-buttons a,
.kb-pagination.custom-buttons span {
    vertical-align: middle;
}
.kb-pagination.custom-buttons .button a {
    /* set custom width */
    
    width: 40px;
    /* image replacement */
    
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    color: transparent;
    background-image: url("../../images/kb-icon-arrow-2.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.kb-pagination.custom-buttons .button:last-of-type a {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.no-touch .kb-pagination.custom-buttons .button:last-of-type a:active {
    -webkit-transform: scale(0.9) rotate(180deg);
    -moz-transform: scale(0.9) rotate(180deg);
    -ms-transform: scale(0.9) rotate(180deg);
    -o-transform: scale(0.9) rotate(180deg);
    transform: scale(0.9) rotate(180deg);
}
.kb-pagination.no-space.custom-buttons .button:last-of-type a {
    border-radius: 0.25em 0 0 0.25em;
}
/* --------------------------------
animated buttons - animate the text inside prev and next buttons
-------------------------------- */

.kb-pagination.animated-buttons a,
.kb-pagination.animated-buttons span {
    padding: 0 1.4em;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.kb-pagination.animated-buttons .button a {
    position: relative;
    padding: 0 2em;
}
.kb-pagination.animated-buttons .button:first-of-type a::before,
.kb-pagination.animated-buttons .button:last-of-type a::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    right: auto;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.kb-pagination.animated-buttons .button:last-of-type a::after {
    -webkit-transform: translateX(-50%) rotate(180deg);
    -moz-transform: translateX(-50%) rotate(180deg);
    -ms-transform: translateX(-50%) rotate(180deg);
    -o-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
}
.kb-pagination.animated-buttons i {
    display: block;
    height: 100%;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}
.no-touch .kb-pagination.animated-buttons .button a:hover i {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.no-touch .kb-pagination.animated-buttons .button:first-of-type a:hover::before {
    -webkit-transform: translateX(-50%) translateY(-50px);
    -moz-transform: translateX(-50%) translateY(-50px);
    -ms-transform: translateX(-50%) translateY(-50px);
    -o-transform: translateX(-50%) translateY(-50px);
    transform: translateX(-50%) translateY(-50px);
}
.no-touch .kb-pagination.animated-buttons .button:last-of-type a:hover::after {
    -webkit-transform: translateX(-50%) rotate(180deg) translateY(50px);
    -moz-transform: translateX(-50%) rotate(180deg) translateY(50px);
    -ms-transform: translateX(-50%) rotate(180deg) translateY(50px);
    -o-transform: translateX(-50%) rotate(180deg) translateY(50px);
    transform: translateX(-50%) rotate(180deg) translateY(50px);
}

/* Pagination CSS - End Here */
/* Google Adsense Banners */

.banner_left {
    position: absolute;
    top: 110px;
    right: -140px;
}
.banner_right {
    position: absolute;
    top: 110px;
    left: -140px;
}

/* Email Advertiser Model Box */

.ui.modal>.close {
    top: 10px;
    right: 10px;
    color: #666666;
}

/* Ad post - Time & Date  */

.date-time {
    position: absolute;
    color: #ffffff;
    background-color: #21BA45;
    padding: 2px 8px;
    top: 0;
    right: 0;
}
.ui .view-details {
    text-align: center;
    float: none !important;
}

/* Premium Membership Area */

.pre-membership {
    padding: 40px 0;
}
.premium h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #222222;
    font-weight: 700;
    margin-bottom: 30px;
}

/* Niklas - CSS */

#mapcontainer path:hover {
    fill: #fff839;
    stroke: '#FFFFFF';
    stroke-width: 155;
}
#mapcontainer path {
    stroke-width: 2;
    /* control the countries borders width */
    
    stroke: #000000;
    /* choose a color for the border */
}
.ui.selection.dropdown.show .menu {
    overflow: visible !important;
}
.ui.selection.dropdown.show .menu {
    overflow: visible !important;
    max-height: none;
}
.encapsulate {
    overflow-y: scroll;
    max-height: 200px;
}
.encapsulate .item {
    border-top: 1px solid rgba(0, 0, 0, .05);
    padding: .71428571em 1.14285714em !important;
    cursor: pointer;
}
.encapsulate .item i.icon {
    float: right;
}
.flyover {
    margin-top: -1000px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 1050;
    transition: all 1s ease;
    margin-left: auto;
    margin-right: auto;
}
.flyover.in {
    margin-top: 0px;
}

/* Forget Password */

.ui.divider>.icon {
    font-size: 2rem !important;
    height: auto !important;
    cursor: default;
}

/* Welcome Messsage */

.welcome-msg span {
    color: #979e9e;
}

/* Success Message */

.alert {
    background-color: #f44336;
    color: #ffffff;
    width: 97%;
    opacity: 1;
    padding: 20px;
    transition: opacity 0.6s;
    margin: 0 auto 20px auto;
}
.alert.success {
    background-color: #4CAF50;
}
.alert.info {
    background-color: #15c49a;
}
.alert.warning {
    background-color: #ff9800;
}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}

/* My Account - Section CSS */

.sidemenu {
    border: 0 !important;
    box-shadow: none !important;
}
.my_account_wrapper {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.my_account_wrapper .ui.menu .item {
    padding: 0.92857143em 1.14285714em;
}
.menu_wrapper {
    -webkit-box-shadow: 1px 0px 0px 0px rgba(238, 238, 238, 1);
    -moz-box-shadow: 1px 0px 0px 0px rgba(238, 238, 238, 1);
    box-shadow: 1px 0px 0px 0px rgba(238, 238, 238, 1);
}
.ui.text.container {
    font-size: 14px;
}
.account_details .label {
    cursor: pointer;
}
.credit-cards {
    position: relative;
    top: 12px;
}
.space20 {
    margin-top: 20px;
}
.space25 {
    margin-top: 25px;
}
.space30 {
    margin-top: 30px;
}
.ui.section.divider {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.change-password {
    overflow: hidden;
}
#myAds tr:hover {
    background-color: #f5f5f5;
}
#myAds a:hover,
#myMessages a:hover {
    text-decoration: underline;
}
#myAds .ui.table,
#myMessages .ui.table {
    font-size: 13px;
}
#myAds .ui.button {
    font-size: 14px;
}
#myAds .delete {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
#myAds .edit:hover {
    text-decoration: none;
}
#myAds .ui.button:not(.icon)>.icon:not(.button):not(.dropdown) {
    margin: 0;
}
#myAds i.icon,
#myMessages .ui.table {
    opacity: 1;
}
.edit-ads .field {
    margin-bottom: 20px !important;
}
.ql-container {
    height: 200px !important;
}
.ql-editor p {
    margin-bottom: 10px !important;
}
.messages-wrapper .delete {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    margin: 0 auto;
    display: table;
    padding: 2px 4px;
    border-radius: 3px;
    cursor: pointer;
}
.messages-wrapper .table thead {
    display: none;
}
.messages-wrapper .ui.celled.table tr th,
.messages-wrapper .ui.celled.table tr td {
    border-left: 0;
}
.messages-wrapper i.icon {
    margin-right: 0;
}
.messages-wrapper .ui.table td {
    padding: 0.5em 0.78571429em;
}
#myAds tr,
#myMessages tr {
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
#myMessages tr.odd {
    background-color: #effffe;
}
#myMessages tr:hover {
    background-color: #b0eef1;
}
#myMessages .ui.table tr td,
#myMessages {
    border: 0;
}
.msg-icon {
    position: relative;
    top: 3px;
}
.icon-spacing {
	margin-right: 10px;
}
.email-title .ui.rating {
    position: relative;
    top: 2px;
    margin-right: 6px;
}
.date-label {
    position: relative;
    float: right;
    font-size: 13px;
}
.history-icon {
	font-size: 14px;
}
.sent-message {
	position: absolute;
	right: 0;
	top: 0;
	padding: 3px 5px;
	font-size: 10px;
	color:#ffffff;
	background-color: #2ecc71;
	border-radius: 0 0.28571429rem 0 0;
}
.receive-message {
	position: absolute;
	right: 0;
	top: 0;
	padding: 3px 5px;
	font-size: 10px;
	color:#ffffff;
	background-color: #fbbd08;
	border-radius: 0 0.28571429rem 0 0;
}
.compose-message {
	position: absolute;
	right: 0;
	top: 0;
	padding: 3px 5px;
	font-size: 10px;
	color:#ffffff;
	background-color: rgba(33, 133, 208, 0.75);
	border-radius: 0 0.28571429rem 0 0;
}
.email-message{
	font-size: 13px;
    color: #6d6d6d;
}
.sidemenu i.icon {
    font-size: 14px !important;
    opacity: 0.8 !important;
}
.compose-btn {
    position: absolute;
    top: 46px;
    right: 15px;
}
#my_singlepage .ui.icon.message {
	border: 0;
	background-color: #ffffff;
	box-shadow: none;
	padding-left: 0;
	padding-right: 0;
	margin-top: 1em;
}

#my_singlepage i.icon, i.icons {
    font-size: 24px;
    opacity: 0.5;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;	
}
#my_singlepage .icon:hover {
	opacity: 1;
}
#my_singlepage .ui.section.divider {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
#my_singlepage h4.ui.header .sub.header {
    font-size: 13px;
	line-height: 15px;
}
#my_singlepage h4.ui.header .sub.header a:hover {
    text-decoration: underline;
}
#my_singlepage .ui.form .field > label {
	margin: 0em 0em 0.6rem 0em;
}
.ad-content .slide_item img {
    max-width:100% !important;
    height: auto !important;
	background-size: cover !important;
}